body {
    margin-left: 10em;
    margin-right: 10em;
    height: 100%;
    border: 1px solid  rgb(190, 190, 190);  

}

header {
    text-align: center;
    margin: 0px;
    color: gainsboro;
    background-color: grey;
    padding-top: .5em;
    padding-bottom: .25em;

}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
}

.input-styles {
    padding-bottom: 1em;
}

.table-format {
    text-align: left;
}

table {
    text-align: left;
    width: 50rem;
    height: 10rem;

}

thead {
    background-color: rgb(190, 190, 190);
    margin: auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    margin: auto;
}

.total-monthly-salary-style {
    padding-top: 1em;
    vertical-align: auto; 
    margin: auto;
    text-align: left;
}


tfoot td { 
    border: none;
    background-color: rgb(205, 205, 205); 
    margin: auto;
}

