html, body {
    margin: 0;
    height: 100%;
    
}

header {
    text-align: center;
    margin: 0px;
    color: gainsboro;
    background-color: grey;
    padding-top: .5em;
    padding-bottom: .25em;

}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
}

.input-styles {
    padding-bottom: 1em;
}

.button-style {
    padding-left: 43.35em;
}

table {
    width: 50em;
    height: 10em;
}

thead {
    background-color: rgb(190, 190, 190);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.total-monthly-salary-style {
    text-align: right   ;
    padding-right: 21.625em;
}

tfoot td { 
    border: none;
    background-color: rgb(205, 205, 205); 
}

